Title: Salary report

Description: Report about salary of EPL football player season 2023-2024

I. Import Lib

In [50]:
import pandas as pd
import os
import matplotlib as plt

II. Input

In [51]:
path = 'C:/Project/Personal/data-epl-salary-analytic/soccer_salaries.csv'

III. Extract & Process data

In [52]:
# Read origin file CSV
df = pd.read_csv(path)
df

,Unnamed: 0,Player Name,Weekly Wage,Yearly Salary,Age,Position,Nationality,Team
0,0,Neto,"£100,000","£5,200,000",33,GK,Brazil,afc-bournemouth
1,1,Dominic Solanke,"£72,000","£3,744,000",25,ST,England,afc-bournemouth
2,2,Justin Kluivert,"£70,000","£3,640,000",24,AM RL,Netherlands,afc-bournemouth
3,3,Philip Billing,"£54,000","£2,808,000",27,"DM, AM C",Denmark,afc-bournemouth
4,4,Alex Scott,"£53,000","£2,756,000",19,"DM, AM RC",England,afc-bournemouth
...,...,...,...,...,...,...,...,...
625,667,Tom King,"£4,600","£239,200",28,GK,Wales,wolverhampton-wanderers-f.c.
626,668,Aaron Keto-Diyawa,"£2,500","£130,000",19,D/WB/AM L,England,wolverhampton-wanderers-f.c.
627,669,Kam Kandola,"£2,000","£104,000",19,D C,England,wolverhampton-wanderers-f.c.
628,670,Matthew Whittingham,"£1,900","£98,800",18,"D L, AM LC",England,wolverhampton-wanderers-f.c.
629,671,Owen Farmer,"£1,800","£93,600",18,AM/F C,England,wolverhampton-wanderers-f.c.

In [53]:
# Reformat & tranform data
df.rename(columns={'Unnamed: 0': 'No'}, inplace=True)
df['Weekly Wage'] = df['Weekly Wage'].str.replace('£', '').str.replace(',', '').astype(int)
df['Yearly Salary'] = df['Yearly Salary'].str.replace('£', '').str.replace(',', '').astype(int)
df.head()

,No,Player Name,Weekly Wage,Yearly Salary,Age,Position,Nationality,Team
0,0,Neto,100000,5200000,33,GK,Brazil,afc-bournemouth
1,1,Dominic Solanke,72000,3744000,25,ST,England,afc-bournemouth
2,2,Justin Kluivert,70000,3640000,24,AM RL,Netherlands,afc-bournemouth
3,3,Philip Billing,54000,2808000,27,"DM, AM C",Denmark,afc-bournemouth
4,4,Alex Scott,53000,2756000,19,"DM, AM RC",England,afc-bournemouth

IV. Start analyze