Title: Salary report

Description: Report about salary of EPL football player season 2023-2024

I. Import Lib

In [81]:
import pandas as pd
import os
import matplotlib as plt


# Declare function

def reformat_currency(df_column):
    # Reformat currency
     
    new_value_in_column = df_column.str.replace('£', '').str.replace(',', '').astype(int)
    return new_value_in_column

II. Input

In [82]:
path = 'C:/Project/Personal/data-epl-salary-analytic/soccer_salaries.csv'

III. Extract & Process data

In [83]:
# Read origin file CSV
df = pd.read_csv(path)
df

,Unnamed: 0,Player Name,Weekly Wage,Yearly Salary,Age,Position,Nationality,Team
0,0,Neto,"£100,000","£5,200,000",33,GK,Brazil,afc-bournemouth
1,1,Dominic Solanke,"£72,000","£3,744,000",25,ST,England,afc-bournemouth
2,2,Justin Kluivert,"£70,000","£3,640,000",24,AM RL,Netherlands,afc-bournemouth
3,3,Philip Billing,"£54,000","£2,808,000",27,"DM, AM C",Denmark,afc-bournemouth
4,4,Alex Scott,"£53,000","£2,756,000",19,"DM, AM RC",England,afc-bournemouth
...,...,...,...,...,...,...,...,...
625,667,Tom King,"£4,600","£239,200",28,GK,Wales,wolverhampton-wanderers-f.c.
626,668,Aaron Keto-Diyawa,"£2,500","£130,000",19,D/WB/AM L,England,wolverhampton-wanderers-f.c.
627,669,Kam Kandola,"£2,000","£104,000",19,D C,England,wolverhampton-wanderers-f.c.
628,670,Matthew Whittingham,"£1,900","£98,800",18,"D L, AM LC",England,wolverhampton-wanderers-f.c.
629,671,Owen Farmer,"£1,800","£93,600",18,AM/F C,England,wolverhampton-wanderers-f.c.

In [84]:
# Reformat & tranform data
df.rename(columns={'Unnamed: 0': 'No'}, inplace=True)
df['Weekly Wage'] = reformat_currency(df['Weekly Wage'])
df['Yearly Salary'] = reformat_currency(df['Yearly Salary'])
df.head()

,No,Player Name,Weekly Wage,Yearly Salary,Age,Position,Nationality,Team
0,0,Neto,100000,5200000,33,GK,Brazil,afc-bournemouth
1,1,Dominic Solanke,72000,3744000,25,ST,England,afc-bournemouth
2,2,Justin Kluivert,70000,3640000,24,AM RL,Netherlands,afc-bournemouth
3,3,Philip Billing,54000,2808000,27,"DM, AM C",Denmark,afc-bournemouth
4,4,Alex Scott,53000,2756000,19,"DM, AM RC",England,afc-bournemouth

IV. Start analyze

In [87]:
# Top 10 Highest salary per year
df_highest_salary_value = df.sort_values(by='Weekly Wage', ascending=False).head(10)
print(df_highest_salary_value)

      No         Player Name  Weekly Wage  Yearly Salary  Age     Position  \
210  224     Raheem Sterling       350000       18200000   28        AM RL
420  448      Raphaël Varane       350000       18200000   30          D C
330  352       Mohamed Salah       350000       18200000   31    AM RL, ST
390  416     Kevin De Bruyne       340000       17680000   32       AM RLC
391  417      Erling Haaland       340000       17680000   22           ST
211  225  Christopher Nkunku       300000       15600000   25  AM RLC, F C
421  449     Marcus Rashford       300000       15600000   25     AM L, ST
422  450            Casemiro       300000       15600000   31           DM
423  451        Jadon Sancho       275000       14300000   23       AM RLC
392  418       Jack Grealish       270000       14040000   27       AM RLC

    Nationality                    Team
210     England            chelsea-f.c.
420      France  manchester-united-f.c.
330       Egypt          liverpool-f.c.
390     Belgium    manchester-city-f.c.
391      Norway    manchester-city-f.c.
211      France            chelsea-f.c.
421     England  manchester-united-f.c.
422      Brazil  manchester-united-f.c.
423     England  manchester-united-f.c.
392     England    manchester-city-f.c.